In [2]:
List = [1,2,3,4,5,6,7,8,9,]
print (sum(List))

45

In [6]:
s = "How are you"
length = len(s)
print (length)
half = length // 2
print (s[:half])

11
How a

In [7]:
tuple1 = (78,45,32,19,82,77,40,39)
list1 = list(tuple1)
list1[2] = 100
tuple2 = tuple(list1)
print (tuple2)

(78, 45, 100, 19, 82, 77, 40, 39)

In [9]:
listA = [19,32,10,55,31,32,94,29,10,65,77,40,40]
listA[9] = 300
listA.remove(32)
while 40 in   listA:
  listA.remove(40)
del listA[5]
listA.insert(2, 200)
print (listA)
print ("length is : ",len(listA))
print ("Maximum value is : ",max(listA))
print ("Sum of all elements is : ", sum(listA))

[19, 10, 200, 55, 31, 32, 29, 10, 300, 77]
length is :  10
Maximum value is :  300
Sum of all elements is :  763

In [10]:
string = "The day has been long"
string = string[:4] + string[5:]
print (" ".join([string]*4))
print ((string + "\n") * 3, end = "")
string = string[:7] + "A" + string[8:]
print (string[4:16])
print (string)
print (len(string))

The ay has been long The ay has been long The ay has been long The ay has been long
The ay has been long
The ay has been long
The ay has been long
ay Aas been
The ay Aas been long
20